body{
    background-color: white;
    margin: 0;
    
}
*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 10svh;
    box-shadow: 1px 1px 3px skyblue;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}
.logo{
    font-size: 30px;
}
.sect{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: "Karla", sans-serif;
}
.bars{
    font-size: 30px;
    display: none;
}
.parent{
    width: 200px;
    background-color: cornflowerblue;
    color: antiquewhite;
    border-radius: 20px;
    display: none;
    position: absolute;
    text-align: center;
    right: 10%;
    font-family: "Karla", sans-serif;
}
.bars:hover > .parent{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    cursor: pointer;
}
.profile{
    font-size: 30px;
}

/* @media screen and (max-width:930px){
    .dashboard-head{
        font-size: 15px;
    }
}
@media screen and (max-width:250px){
    .dashboard-head{
        display: none;
    }
    .dashboard-prof{
        display: none;
    }
    .dashboard-prof-hide{
        display: block;
        left: 10%;
    }
    .dashboard-head-hide{
        display: block;
    }
    
} */

.dashboard-main{
    width: 100%;
    height: 90svh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    background-color: #56b6f6;
    font-family: "Karla", sans-serif;
    /* overflow: hidden; */
}
.dashboard-main-hide{
    width: 100%;
    height: 90svh;
    background-color: rgb(15, 48, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;  
}
.dashboard-main-show{
    width: 100%;
    height: 90svh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none;   */

}
.dashboard-prof{
    width: 40%;
    height: 90svh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.dashboard-prof-hide{
    width: 100% ;
    height: 20svh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */

}
.dashboard-head-hide{
    width: 30%;
    height: 55svh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* display: none; */

}
.dash-sli-hide{
    width: 70%;
    height: 55svh;
    background-color: rgb(28, 150, 109);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.bg{
    width: 100%;
    height: 55svh;
    background-color: rgb(28, 150, 109);
    display: flex;
     flex-direction: column; 
    align-items: center;
    justify-content: center;
    display:none;

}
.bg-hl{
    width:100%;
    height: 19svh;
    background-color: rgb(24, 24, 202);
    display: flex;
    align-items: center;
    justify-content: space-between;
    


}
.lee-h{
    font-size: 35px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 5px;
}
.ds-lh{
    font-size: 40px;
    font-weight: 900;
    padding-right: 30px;
    /* padding-right: 5px; */
}
.ds-lh:hover{
    cursor: pointer;
}
.che-h{
    font-size: 35px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 5px;
}
.ds-ch{
    font-size: 40px;
    font-weight: 900;
    padding-right: 30px;
}

.ds-ch:hover{
    cursor: pointer;
}
.cf-h{
    font-size: 35px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 5px;
}

.ds-cfh{
    font-size: 40px;
    font-weight: 900;
    padding-right: 30px;
}
.ds-cfh:hover{
    cursor: pointer;
}

.bg-hl-1{
    width: 100%;
    height: 19svh;
    background-color: rgb(63, 63, 154);
    display: flex;

    display: none;
}
.bg-hc{
    width: 100%;
    height: 18svh;
    background-color: rgb(42, 234, 55);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-hc-1{
    width: 100%;
    height: 19svh;
    background-color: rgb(65, 204, 86);
    display: flex;
    display: none;
}
.bg-hcf{
    width: 100%;
    height: 18svh;
    background-color: rgb(12, 153, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.bg-hcf-1{
    width: 100%;
    height: 19svh;
    background-color: rgb(0, 161, 172);
    display: flex;
    display: none;
}

.pf{
    width: 100%;
    height: 55svh;
    background-color: rgb(28, 150, 109);
    display: flex;
     flex-direction: column; 
    align-items: center;
    justify-content: center;
    display:none;
}
.pf-hl-1{
    width: 100%;
    height: 19svh;
    background-color: rgb(63, 63, 154);
    display: flex;

    display: none;
}
.pf-hc-1{
    width: 100%;
    height: 19svh;
    background-color: rgb(65, 204, 86);
    display: flex;
    display: none;


}
.pf-hcf-1{
    width: 100%;
    height: 19svh;
    background-color: rgb(0, 161, 172);
    display: flex;
    display: none;

}
.dash-sli--hh{
    width: 90% ;
    height: 55svh;
    background-color: rgb(24, 24, 202);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.dash-pr-h{
    width: 90% ;
    height: 55svh;
    background-color: royalblue;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.dashboard-head{
    width: 100%;
    height: 10svh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profii{
    width: 150%;
    height: 50svh;
    /* background-color: aqua; */
    display: flex;
    align-items: end;
    justify-content: center;

}
 .det{
    width:100% ;
    color: white;
    font-size: 15px;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.pro{
    width: 200px;
    height: 200px;
    background-color: azure;
    border-radius: 100px;
}
.dashboard-prof-hide{
    width: 100%;
    height: 35svh;
    display: flex;
    align-items: center;
    justify-content: left;

}
.pro-hide
{
    width: 200px;
    height: 200px;
    background-color: azure;
    border-radius: 100px;

}
.profii-hide{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: start;

}
.dashboard-data-main-hide{
    width: 100%;
    height: 55svh;
    background-color: rgb(15, 48, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.dashboard-data-main-show{
    width: 70%;
    height: 90svh;
    display: flex;
    flex-direction: column;

}
.mental{
    width: 100%;
    height: 80svh;
    background-color: rgb(15, 48, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.bdg{
    width: 100%;
    height: 80svh;
    background-color: rgb(15, 48, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}
.bdg-sl{
    width: 100%;
    height: 30svh;
    background-color: rgb(97, 255, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.bdg-sc{
    width: 100%;
    height: 25svh;
    background-color: rgb(255, 175, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.bdg-scf{
    width: 100%;
    height: 25svh;
    background-color: rgb(132, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.prf{
    width: 100%;
    height: 80svh;
    background-color: rgb(15, 48, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}
.prf-sl{
    width: 100%;
    height: 20svh;
    background-color: rgb(97, 255, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.prf-sc{
    width: 100%;
    height: 20svh;
    background-color: rgb(255, 175, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.prf-scf{
    width: 100%;
    height: 20svh;
    background-color: rgb(132, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.prf-sg{
    width: 100%;
    height: 20svh;
    background-color: rgb(255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.dash-main-sli{
    width: 100%;
    height: 45svh;
    background-color: rgb(15, 48, 37);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.dash-sli{
    width: 90% !important;
    height: 100%;
    background-color: rgb(162, 124, 124);
    display: flex !important;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.dash-pr{
    width: 100% ;
    height: 35svh  !important;
    background-color: rgb(0, 0, 0);
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cchf-h{
    width: 90% ;
    height: 60%  !important;
    background-color: rgb(91, 53, 53);
    display: flex !important;
    /* background-image: url("../assets/ccf.png");
    background-size: cover; */
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;
}
.cchf{
    width: 90% ;
    height: 90%  !important;
    background-color: rgb(91, 53, 53);
    display: flex !important;
    /* background-image: url("../assets/ccf.png");
    background-size: cover; */
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;

}
.leet{
    width: 90% ;
    height: 90%  !important;
    background-color: rgb(247, 186, 73);
    /* background-image: url('../assets/llleee.png');
    background-size: cover; */
    display: flex !important;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;

}
.leet-h{
    width: 90% ;
    height: 60%  !important;
    background-color: rgb(247, 186, 73);
    display: flex !important;
    /* background-image: url("../assets/ccf.png");
    background-size: cover; */
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;
}
.gfgh{
    width: 90% ;
    height: 90%  !important;
    background-color: rgb(90, 240, 90);
    display: flex !important;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;
}
.gfgh-h{
    width: 90% ;
    height: 60%  !important;
    background-color: rgb(90, 240, 90);
    display: flex !important;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;
}

.dash-chart{
    width: 100%;
    height: 35svh;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

}
.slick-slide{
    border-radius: 20px;
    background-color: transparent;

}
.cfff{
    width: 90% ;
    height: 95%  !important;
    background-color: rgb(240, 74, 74);
    display: flex !important;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;
}
.cfff-h{
    width: 90% ;
    height: 60%   !important;
    background-color: rgb(240, 74, 74);
    display: flex !important;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius : 15px;
}
.cchf3 , .lee3 , .gfgh3 , .cfff3{
    position: absolute;
    bottom: 10%;
    right: 8%;
    font-size: 18px;
}
.cchf1-h , .lee1-h , .gfgh1-h , .cfff1-h{
    position: absolute;
    top: 10%;
    left: 5%;
}
.cchf2{
    height: 70px;
    width: 70px;
    padding: 5px 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50;
    left: 50;
}
.cchf3-h , .lee3-h , .gfgh3-h , .cfff3-h{
    position: absolute;
    bottom: 10%;
    right: 8%;
    font-size: 18px;
}
.cchf1 , .lee1 , .gfgh1 , .cfff1{
    position: absolute;
    top: 10%;
    left: 5%;
}
.slick-list {
    width: 80%;
    height: 76%;
}
.dash_h:hover{
    scale:0.9;
    color: orange;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.dash_h1:hover{
    scale: 1.2;
    color: chocolate;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.slick-list{
    width: 90%;
    height: 76%;
}
li button{
    display: none;
}
.slick-dots{
    width: 50px;
    display: flex;
    gap: 20px;
    /* color: black; */
    color: rgba(253, 253, 253, 0.61);
    /* background-color: aquamarine; */
    width: 10px;
    height: 10px;
    /* border: 2px solid black; */
    position: absolute;
    top: 88%;
    left: 49%;
    transform: translateX(-50%);
    /* list-style: none; */
    padding: 0;
    margin: 0;
}

@media screen and (max-width:940px){
    .dashboard-main-show{
        display: none;
    }
     .dashboard-main-hide{
        display: block;
    }
}
@media screen and (max-width:930px){
    .sect{
        font-size: 15px;
    }
}
@media screen and (max-width:700px){
    .sect{
        display: none;
    }
    .profile{
        display: none;
    }
    .logo{
        display: block;
        left: 10%;
    }
    .bars{
        display: block;
    }
    .header{
        justify-content: space-around;
    }
}
@media screen and (max-width:647px){
    .naru{
        width: 130px;
        height: 70px;
    }
    .naru1{
        width: 220px;
        height: 50px;
    }

}
@media screen and (max-width:584px){
    .dashboard-head-hide{
        font-size: 20px;
    }

}
@media screen and (max-height:584px){
   .pro-hide{
    width: 150px;
    height: 150px;
    border-radius: 75px;
   }
}
