body {
    margin: 0;
}

.garp_one {
    min-height: 100svh;
    max-height: 150svh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom left, #C1236C, #8a043e, #4D1092);
}

.garp_left {
    height: 700px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garp_item_docker {
    height: fit-content;
    width: fit-content;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #D8BFD8;
}

.docker_items {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, flex 0.3s ease;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.docker_items img {
    height: 60%;
    width: 60%;
}

.docker_items:hover {
    transform: scale(1.2);
}

.garp_right {
    height: 650px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.garp_contests {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 50px;
    row-gap: 50px;
}

.main_card {
    height: 150px;
    width: 300px;
    row-gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin-top: 50px;
}

.garp_childs {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    background-color: #F3EBE9;
    border: 1px solid black;
    padding: 25px;
    overflow: hidden;
    transition: all 1s;
    backface-visibility: hidden;
    z-index: 2;
}

.back_side {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: absolute;
    backface-visibility: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #D8BFD8;
}

.garp_childs::before {
    content: "";
    height: 20%;
    width: 0%;
    background-color: #a8bbed;
    position: absolute;
    left: 0;
    z-index: -2;
    transition: all 0.5s;
    border-radius: 12px;
}

.garp_childs:hover::before {
    left: -15;
    width: 120%;
    animation-name: juii;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes juii {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-50px);
    }

    60% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.back_side {
    /* background-color: #ff3300; */
    transform: rotateY(180deg);
}

.garp_contests::-webkit-scrollbar {
    width: 16px;
}

.garp_contests::-webkit-scrollbar-track {
    background-color: rgb(61, 69, 69);
    border-radius: 12px;
}

.garp_contests::-webkit-scrollbar-thumb {
    background-color: rgb(18, 18, 79);
    border-radius: 8px;
}

.name_of_contest {
    font-family: 'Roboto';
    font-size: 18px;
    color: black;
    font-weight: 600;
    z-index: 6;
}

.duration_of_contest {
    font-family: 'Lato';
    font-size: 17px;
    color: darkslategrey;
    z-index: 6;
}

.date_of_contest {
    font-family: 'Noto Sans';
    font-size: 18px;
    color: firebrick;
    font-weight: 600;
    z-index: 6;
}

.docker_items span {
    font-family: 'Lato';
    letter-spacing: 2px;
    font-size: 25px;
}

.rotate_div {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    left: 10;
    bottom: 5;
    color: black;
    border-radius: 8px;
    font-size: 15px;
    padding: 2px 3px;
    border: 1px solid black;
    font-family: 'Poppins';
    transition: all 0.5s;
}

.rotate_div:hover {
    background-color: rgb(29, 44, 118);
    color: white;
    transform: rotate(15deg);
}

.linking {
    background: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    background: linear-gradient(to bottom right, #83A4D4, #B6FBFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    color: black;
    position: absolute;
    bottom: 20;
    right: 30;
}

.linking .icon {
    position: absolute;
    right: 12px;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s;
    display: inline-flex;
    align-items: center;
}

.linking .text {
    transition: all 0.3s;
}

.linking:hover .icon,
.linking:focus .icon {
    opacity: 1;
    transform: translateX(0);
}

.linking:hover .text,
.linking:focus .text {
    padding-right: 8px;
    letter-spacing: 1px;
}

.linking:active .icon {
    transform: translateX(5px);
}

.timer_div{
    border: 1px solid black;
    height: 50px;
    width: 180px;
    position: absolute;
    left: 30;
    top: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins';
    border-radius: 12px;
}

.still {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 12;
    left: 40;
    font-size: 25px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

/* media queries */
@media screen and (max-width:1300px) {
    .garp_item_docker {
        flex-direction: row;
    }

    .garp_left {
        height: 40svh;
    }
}