
*
{
	margin: 0px;
	padding: 0px;
}

/* header page */

/* html 5 page  to list */
.main5
{
	width: 100%;
	/* height: 100Svh; */
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #ADBBDA;
	justify-content: space-around;
}
.timeset
{
	width: 40%;
	/* margin-left: 10px; */
	margin: 20px;
	/* margin-left: 10px; */
	background-color: #7091E6;
	border-radius: 10px;
	overflow: hidden;
	position: relative;

}
.notification
{
	margin: 20px;
	/* margin-right: 10px; */
	width: 40%;
	background-color: #7091E6;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	/* height: 100svh; */
	/* height: fit-content; */

}
.typemain
{
	width: 100%;
	display: flex;
	height: fit-content;
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 10px;
}
.Type
{
	display: inline-block;
	/* position: absolute; */
	top: 10px;
	/* left: 30%; */
}
.typewriter
{
	z-index: 5;
	font-size: 23px;
	border-right: 2px solid rgb(213, 196, 213);
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	/* align-items: center; */
	letter-spacing: 3px;
	color: #d3bcc8;
	animation: typing1 4s  infinite
	, cursor .4s step-end infinite alternate;
}
@keyframes cursor {
	50%
	{
		border-color: transparent;
	}
}
@keyframes typing1 {
	from
	{
      width: 0%;
	}
}
@media screen and (max-width:1000px){
	.main5{
		flex-direction: column;
		align-items: center;
	}
	.timeset
	{
		width: 50%;
	}
	.notification
	{
		width: 50%;
	}

}
@media screen and (max-width:610px){
	.timeset
	{
		width:300px ;
		margin: 10px;
	}
	.typewriter{
		font-size: 18px;
		font-weight: bolder;
		letter-spacing: 0px;
	}
	.notification
	{
		width:300px;
		margin:10px ;
	}
	.main5
	{
		flex-direction: column;
		align-items: center;
		/* width: 340px; */
	}

}


.img5
{
	/* width: 100%;
	min-height:300px;  */
	aspect-ratio: 16/9;
	
}
.img5 img{
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 4;

}
.remainder
{
	width: 90%;
	/* aspect-ratio: 16; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
     margin: 20px;
	 gap: 10px;
}
.username
{
	height: 50px;
	width:90%;
	display: flex;
	border-radius: 15px;
	overflow: hidden;
}
.username1
{
	/* height: 50px; */
	background-color: white;
	width:90%;
	display: flex;
	border-radius: 15px;
	overflow: hidden;
}
input
{
	width: 100%;
	height: 100%;
	border: none;
	color: black;
	font-size: 20px;
}
textarea
{
	width: 100%;
	height: 80px;
	border: none;
	color: black;
	font-size: 20px;
	display: flex;
	/* align-items: center; */
	background-color: white;
	margin: 5px 5px;
	justify-content: center;
}
textarea:focus
{
	outline: none;

}
input:focus
{
	outline: none;
}
.userlogo
{
	height: 50px;
	width: 60px;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;

}
.userlogo1
{
	/* height: 50px; */
	width: 60px;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;

}

.fa-solid
{
	color:#5b7cd1;
}
.btn
{
	height: 50px;
	width: 90%;
	border-radius:8px;
	background-color: #265ff1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
	cursor: pointer;
}
.notify
{
	height: 50px;
	width: 250px;
	font-family: Copperplate Gothic;
font-size: 20px;
	margin: 10px;
	background-color:#6256E0;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius:8px;
	/* color: rgb(213, 47, 102);
	 */
	 color: black;
	font-weight: 800;
	letter-spacing: 1px;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* max-width: 300px; */
    text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 10px;
	width: 90%;
	
}
.first
{
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 5px;
   width: 80%;
}
.name{
	font-size: 25px;
	/* text-shadow: 0px 0px 20px gray; */
	margin: 2px 0px;
	display: flex;
	align-items: center;
	text-transform: capitalize;
}
.desc{
	font-size: 18px;
	margin: 2px 0px;
	display: flex;
	align-items: center;
	text-align: start;
}
.time{
	font-size: 18px;
	margin: 2px 0px;
	display: flex;
	align-items: center;
}
.cardcenter
{
	width: 100%;
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}



.check  {
	width: 20px;
	height: 20px;
	background-color: #6256E0;
	border: 2px solid black;

}

.star
{
	height: 80px;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	background-color: #ADBBDA;
	border-radius: 8px;
}
.img{
	height: 60px;
	width: 60px;
}
.img img{
	height: 100%;
	background-color: gold;
}
.box
{
	height: 150px;
	width: 250px;
	/* background-color: #758694; */
	background-color: rgb(87, 87, 244);
	position: absolute;
	z-index: 10;
	top: 45%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.box1
{
  width: 90%;
  font-size:20px;
  color: white;
}
.box2
{
  width: 90%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
button{
	height: 40px;
	width: 80px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
}
@media screen and (min-height:500px) {
	.cardcenter
	{
		overflow-y:scroll;
		overflow-x: hidden;
		max-height: 500px;
	}
}
.fa-star{
	color: white;
	font-size: 35px;
}
.txt
{
	width: 100%;
	text-align: center;
	color: rgb(75, 75, 75);
}

  /* mouse hover */
  .hover-border {
	position: absolute;
	/* border: 0.5px solid red; */
	pointer-events: none;
	display: none;
	box-shadow: 0px 0px 70px 30px rgb(255, 255, 255);
}
.anm{
   width: 120px;
   /* background-color: #3324d2; */
   display: flex;
   align-items: center;
   justify-content: center;
}
.typewriter {
	--blue: #5C86FF;
	--blue-dark: #275EFE;
	--key: #fff;
	--paper: #EEF0FD;
	--text: #D3D4EC;
	--tool: #FBC56C;
	--duration: 3s;
	position: relative;
	-webkit-animation: bounce05 var(--duration) linear infinite;
	animation: bounce05 var(--duration) linear infinite;
  }
  
  .typewriter .slide {
	width: 92px;
	height: 20px;
	border-radius: 3px;
	margin-left: 14px;
	transform: translateX(14px);
	background: linear-gradient(var(--blue), var(--blue-dark));
	-webkit-animation: slide05 var(--duration) ease infinite;
	animation: slide05 var(--duration) ease infinite;
  }
  
  .typewriter .slide:before, .typewriter .slide:after,
  .typewriter .slide i:before {
	content: "";
	position: absolute;
	background: var(--tool);
  }
  
  .typewriter .slide:before {
	width: 2px;
	height: 8px;
	top: 6px;
	left: 100%;
  }
  
  .typewriter .slide:after {
	left: 94px;
	top: 3px;
	height: 14px;
	width: 6px;
	border-radius: 3px;
  }
  
  .typewriter .slide i {
	display: block;
	position: absolute;
	right: 100%;
	width: 6px;
	height: 4px;
	top: 4px;
	background: var(--tool);
  }
  
  .typewriter .slide i:before {
	right: 100%;
	top: -2px;
	width: 4px;
	border-radius: 2px;
	height: 14px;
  }
  
  .typewriter .paper {
	position: absolute;
	left: 24px;
	top: -26px;
	width: 40px;
	height: 46px;
	border-radius: 5px;
	background: var(--paper);
	transform: translateY(46px);
	-webkit-animation: paper05 var(--duration) linear infinite;
	animation: paper05 var(--duration) linear infinite;
  }
  
  .typewriter .paper:before {
	content: "";
	position: absolute;
	left: 6px;
	right: 6px;
	top: 7px;
	border-radius: 2px;
	height: 4px;
	transform: scaleY(0.8);
	background: var(--text);
	box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
  }
  
  .typewriter .keyboard {
	width: 120px;
	height: 56px;
	margin-top: -10px;
	z-index: 1;
	position: relative;
  }
  
  .typewriter .keyboard:before, .typewriter .keyboard:after {
	content: "";
	position: absolute;
  }
  
  .typewriter .keyboard:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 7px;
	background: linear-gradient(135deg, var(--blue), var(--blue-dark));
	transform: perspective(10px) rotateX(2deg);
	transform-origin: 50% 100%;
  }
  
  .typewriter .keyboard:after {
	left: 2px;
	top: 25px;
	width: 11px;
	height: 4px;
	border-radius: 2px;
	box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	-webkit-animation: keyboard05 var(--duration) linear infinite;
	animation: keyboard05 var(--duration) linear infinite;
  }
  
  @keyframes bounce05 {
	85%, 92%, 100% {
	  transform: translateY(0);
	}
  
	89% {
	  transform: translateY(-4px);
	}
  
	95% {
	  transform: translateY(2px);
	}
  }
  
  @keyframes slide05 {
	5% {
	  transform: translateX(14px);
	}
  
	15%, 30% {
	  transform: translateX(6px);
	}
  
	40%, 55% {
	  transform: translateX(0);
	}
  
	65%, 70% {
	  transform: translateX(-4px);
	}
  
	80%, 89% {
	  transform: translateX(-12px);
	}
  
	100% {
	  transform: translateX(14px);
	}
  }
  
  @keyframes paper05 {
	5% {
	  transform: translateY(46px);
	}
  
	20%, 30% {
	  transform: translateY(34px);
	}
  
	40%, 55% {
	  transform: translateY(22px);
	}
  
	65%, 70% {
	  transform: translateY(10px);
	}
  
	80%, 85% {
	  transform: translateY(0);
	}
  
	92%, 100% {
	  transform: translateY(46px);
	}
  }
  
  @keyframes keyboard05 {
	5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	9% {
	  box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	18% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	27% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	36% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	45% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	54% {
	  box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	63% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
	}
  
	72% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  
	81% {
	  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
	}
  }