
*
{
	margin: 0px;
	padding: 0px;
}
.main{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
	height: 80px;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about
{
	width: 100%;
	/* height: 500px; */
	aspect-ratio: 16/5;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about img{
	width: 100%;
	position: relative;
	height: 100%;
	background-position: center;
	background-size: cover;
	/* z-index: 2; */
	/* aspect-ratio: 16/5; */
}
.container
{
	position:absolute;
	bottom: 20px;
	z-index: 5;
	width: 100%;
	/* background-color: rgb(227, 148, 148); */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.abouttext
{
	font-size: 24px;
    font-weight: bold;
     text-align: center;
    
}
.aboutteam
{
	width: 50%;
	/* background-color: aliceblue; */
	height: 90px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.team{
	height: 85px;
	width: 85px;
	border-radius: 10px;
	/* background-color: aqua; */
	
}
.team1
{
	background-image: url('../assets/jit/21473029_2200_3_05.jpg');
	background-position: center;
	background-size: cover;
}
.team2
{
	background-image: url('../assets/jit/21473029_2200_3_05.jpg');
	background-position: center;
	background-size: cover;
}
.team3
{
	background-image: url('../assets/jit/21473029_2200_3_05.jpg');
	background-position: center;
	background-size: cover;
}
.team4
{
	background-image: url('../assets/jit/32130.jpg');
	background-position: center;
	background-size: cover;
}
.team5
{
	background-image: url('../assets/jit/32130.jpg');
	background-position: center;
	background-size: cover;
}
.team6
{
	background-image: url('../assets/jit/32130.jpg');
	background-position: center;
	background-size: cover;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
   height: 50px;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
